/* style.css */

QMainWindow {
    background-color: #82d4dad3;
}

QPlainTextEdit {
    background-color: white;
    border: 3px solid #007bff;
    padding: 5px;
    font-size: 14px;
}

QPushButton {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #a1b300;
}